.header
  position: fixed 
  top: 0
  left: 0
  z-index: 99
  width: 100vw
  background: #373737
  .menu 
    ul 
      height: 44px
      display: flex
      justify-content: space-between
      align-items: center
      left: -100vw
      transition: all 0.5s
      .menu_active 
        left: 0
      a
        text-transform: uppercase 
        text-decoration: none 
        color: white
        font-size: 12px
        &:hover
          color: #ff9d00
      li:after
          content: ''
          border-left: 1px dotted #5f5f5f
          margin-left: 16px
      li:last-child:after
        border-left: none
        margin-left: 0
 
       
@media (max-width: 992px) 
    .container
      width: 767px
    .header
      display: none
      width: 100%
      padding: 40px 0 40px
      height: 370px
      .menu ul
        flex-direction: column
        li:after
            border-left: none
        li 
          line-height: 15px
          width: 100vw
               
      .menu ul a
          font-size: 20px 
          display: block
          width: 100%
          text-align: center
          transition: all 0.2s
          &:hover
            display: block
            font-size: 21px
            background: rgba(255,255,255,0.1)
@media (max-width: 768px)
  .container
    width: 576px
@media(max-width: 577px)
  .container
    width: 95%             
  
      
