.klients
  &-subtitle 
    position: relative 
    margin: auto
    margin-bottom: 56px 
  &-common 
    display: flex
    justify-content: space-between 
    flex-wrap: wrap  
  &-logo 
    width: 212px
    height: 130px 
    border: 1px solid #e5e5e5 
    border-radius: 5px 
    display: flex
    justify-content: center
    align-items: center 
    margin-bottom: 33px 
    cursor: pointer
    filter: grayscale(100%)
    transition: 1s 
    &:hover 
      border: 2px solid $primary-bg-color
      filter: grayscale(0) 

@media (max-width: 1199px)
  .container
    width: 941px
@media (max-width: 992px) 
  .container
    width: 767px
    .klients
      &-common
        justify-content: space-evenly 
      &-logo 
        filter: grayscale(0) 

@media (max-width: 768px)
  .container
    width: 576px
@media(max-width: 577px)
  .container
    width: 95%