.main
 background: url('../img/main/background.png')no-repeat center
 position: relative
.main:before
  content: ''
  background-color: rgba(#000, 0.52)
  position: absolute
  left: 0
  top: 0
  z-index: 2
 