.reviews 
  background: #f4f4f4
  padding: 55px 0 65px 
  .reviews-subtitle
    position: relative 
    margin-bottom: 48px 
  &-slider
    margin: auto
    width: 85%
  .slick-arrow 
    width: 10px
    height: 47px
    position: absolute
    z-index: 9 
    top: 150px
    &:hover
        cursor: pointer
  .slick-next  
      right: -30px
      // top: 0
      background: url('../img/reviews/arrow-rightt.png')no-repeat center
     
  .slick-prev
      // top: 0
      left: -30px
      background: url('../img/reviews/arrow-leftt.png')no-repeat center
     


