.production
  padding: 100px 0 100px 
  &-common 
    display: flex 
    justifu-content: center 

  .slider-for 
    width: 535px  
    height: 377px 
    margin-bottom: 13px
  .slider-nav
    width: 475px
    height: 78px
    margin: auto 
    
  //   overlow: hidden
  //   cursor: pointer
  // .slider-nav .slick-track
  //   height: 85px
   
  .arrow 
    width: 22px
    height: 78px
    position: absolute 
    border: 1px solid $primary-bg-color
    &:hover
        background: $primary-bg-color
        cursor: pointer
    &_right  
      right: -30px
      top: 0
      background: url('../img/slider/yellow-right.png')no-repeat center
      &:hover
        background: #ff9d00 url('../img/slider/arrow-right.png')no-repeat center   
    &_left
      top: 0
      left: -30px
      background: url('../img/slider/yellow-left.png')no-repeat center
      &:hover 
        background: #ff9d00 url('../img/slider/arrow-left.png')no-repet center 
 
  &-content
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: center 
  &-subtitle 
    max-width: 400px 
    height: 62px 
    background: $primary-bg-color
    color: white 
    font-size: 28px
    align-items: center
    display: flex 
    padding-left: 24px
    margin-bottom: 26px 
  &-text 
    font-size: 16px 
    padding-left: 23px 
    text-align: justify 
    line-height: 20px   
