@import 'var'
@import 'normalize'
@import 'fonts'
@import 'interfase'

@import 'header'
@import 'header-logo'
@import 'main'


*, *:after, *:before 
  box-sizing: border-box
body 
 font-family: 'Roboto-light', sans-serif
.container 
  width: 941px
  margin: 0 auto
  .subtitle-h2
    font-size: 32px
    text-align: center
  .sudtitle-h3
    font-size: 27px
    text-align: center 

img
  max-width: 100%

